<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket Stack</title>
 {{!-- <link rel="stylesheet" href="/css"> --}}
  <link rel="stylesheet" href="/css/tailwind.css"> 
</head>

<body class="h-24 bg-gradient-to-r from-pink-300 via-blue-400 to-blue-200">
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2 ">
      
      <nav class= "flex">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a class=" flex-auto lg:flex-none text-lg lg:text-base text-white hover:underline hover:text-blue-700 ..." href="/profile">profile</a> |
        <a class="flex-auto lg:flex-none text-lg lg:text-base pl-3 lg:pl-1 text-white hover:underline hover:text-blue-700" href="/"> dashboard</a> |
        <button class=" flex-auto lg:flex-none text-lg lg:text-base  no-button text-white hover:underline hover:text-red-600 ..." id="logout">logout</button>
   
        {{else}}
           <p class= "text-4xl text-white flex text-center sm:text-left justify-center" >Welcome to Ticket Stack! <p>
        {{!-- <a class= "text-4xl text-white hover:text-green-200 ..." href="/login">login</a> |
        <a class="text-4xl text-white hover:text-green-200 ..." href="/signup">signup</a> --}}
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/loginout.js"></script>
  {{/if}}
</body>
{{!-- <script src="./js/profile.js"></script> --}}
</html>