<div class="row">
  <div class="col-auto text-lg font-bold">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>


<div class="row mt-4 ">
  <div class="col-md-6">
    <h3 class="text-md font-bold">Create a New Ticket</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">ticket name:</label>
        <input class="form-input w-auto px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" type="text" id="project-name" name="project-name" />
      </div>
      {{!-- <div class="form-group">
        <label for="project-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div> --}}
      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input form-input w-auto px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" type="text" id="project-desc" name="project-desc"></textarea>
      </div>
      {{!-- priority dropdown --}}
      <div class="form-group">
        <label for="priority">Priority:</label> 
         <select id="priority" name="priority">
       <option value="High">High</option>
      <option value="Neutral">Neutral</option>
      <option value="Low">Low</option>
      <option value="N/A">N/A</option>
      </select>
      </div>
      {{!-- this is phone --}}
       <div class="form-group">
        <label for="phone">Enter a telephone number(xxx-xxx-xxxx):</label>
        <input class="form-input w-auto px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"  id="phone" name="phone" type="tel"
        required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx">
    <span class="validity"></span>
      </div>
      <div class="form-group">
        <button type="submit" class="bg-transparent hover:bg-green-500 text-white-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Create</button>
      </div>
    </form>

  {{#if tickets.length}}
  <div class="col-md-6 project-list mt-8 space-y-3 absolute inset-y-0 right-20 mr-20 pr-20">
    <h3 class="text-4xl font-bold">Current Tickets:</h3>

    {{#each tickets as |ticket|}}
    <div class="row mb-2">
      <div class="col-md-8 font-bold">
        <h4 class= " hover:text-green-500 text-white-700 font-semibold hover:text-white text-2xl"><a href="/ticket/{{ticket.id}}">{{ticket.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 border border-black-700 rounded-full" data-id="{{ticket.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>