<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

  {{#if tickets.length}}
  <div class="col-md-6 project-list">
    <h3>Current Tickets:</h3>

    {{#each tickets as |ticket|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{ticket.id}}">{{ticket.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{ticket.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>