<div class="row">
  <div class="auto-cols-auto text-3xl sm:text-lg font-bold pl-5">
    <h2 class="capitalize">Welcome, {{name}}!</h2>
  </div>
</div>


<div class="row pt-8 pl-10">
  <div class="col-md-6">
    <a class="text-md text-white font-bold bg-blue-500 py-2 px-4 border border-black-700 rounded-full hover:bg-opacity-50" href="/">Create a New Ticket</a>
  </div>

  {{#if tickets.length}}
  
  <div class="col-md-6 project-list mt-20 sm:mt-10 space-y-3 absolute inset-y-0 right-20 mr-20 pl-20 sm:pr-20">
    <h3 class="text-2xl font-bold underline mt-20 sm:mt-0">Current Tickets</h3>

    {{#each tickets as |ticket|}}
    <div class="row mb-2 border-solid border-2 border-yellow-500 rounded-md">
      <div class="col-md-8">
        <h4 class= "hover:underline text-white-700 font-medium hover:text-yellow-500 text-xl capitalize text-center mt-1"><a href="/ticket/{{ticket.id}}">{{ticket.name}}</a></h4>
      </div>
      <div class="col-md-4 text-center">
        <button class="bg-red-500 hover:bg-gray-300 border-red-500 border-2 hover:text-red-500 hover:border-red-500 text-black font-bold py-1 px-2 rounded-md text-xs mt-4 mb-3 tracking-wide" data-id="{{ticket.id}}">delete</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>